# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.VSCodeCounter/
.trunk/
.vscode/
.bmad-core/
.cursor
chat/

key
key.pub

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
.env.backup


#stories
docs/stories/

#backend
backend/logs/
backend/app/
backend/bin/
/backend/main
/backend/server

#frontend
frontend/design/*.pen
frontend/design
frontend/dist/
frontend/node_modules/

#agents-server
/agents-server/dist/
/agents-server/node_modules/

#.vite
/.vite/deps_temp_169df612
/agents/cmd/server/logs/app-maker-agents.log
/agents/logs/app-maker-agents.log
